.movie-card {
    border: 1px solid #03ad11;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 22px;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-card p {
    color: #de0c0c;
    font-size: larger;
}

.movie-card button {
    background-color: #28a745;
    color: rgb(191, 6, 6);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.movie-card button:hover {
    background-color: #218838;
}